<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <title>LINGONTRAD2000</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link href="/css/style.css" type="text/css" rel="stylesheet" media="all" />
    </head>
    <body class="oc-body oldsdz  forum ">
        <h1>LINGONTRAD2000</h1>

        <form ref='uploadForm' 
            id='uploadForm' 
            action='/results' 
            method='post' 
            encType="multipart/form-data">
            <div class="input-container">
                <input
                  type="file"
                  name="uploadedFile"
                  id="real-input"
                  accept="text/csv"
                >
                <div class="browse-btn">
                  Browse Files
                </div>
                <span class="file-info">Upload a file</span>
              </div>
            <input type='submit' value='Kana to romanji' />
        </form>
        <script type="text/javascript" src="/js/upload.js"></script>
    </body>
</html>